<div class="eqLogic eqLogic-widget allowResize allowReorderCmd #custom_layout# #eqLogic_class# #class#"
     data-eqType="#eqType#"
     data-eqLogic_id="#id#"
     data-eqLogic_uid="#uid#"
     data-version="#version#"
     data-translate-category="#translate_category#"
     data-category="#category#"
     data-tags="#tags#"
     style="width: #width#;height: #height#;#style#">
    <div class="widget-name text-center">
        <span style="font-size: 1.2em;#hideEqLogicName#">
            <a href="#eqLink#">#name_display#
                <span class="object_name">#object_name#</span>
            </a>
        </span>
    </div>
    <div id="nbzone" style="display: none">#nbzone#</div>
    <div class="row">
        <div class="col-md-3 center">
            <div>Date et Heure</div>
            <div>#daterainbird# #timerainbird#</div>
        </div>
        <div class="col-md-3 center">
            <div>Arreter toute l'irrigation</div>
            <span id="cmd_#stopirrigation#" class="cmd cmd-widget" data-type="action" data-toggle="tooltip" data-subtype="other" data-cmd_id="#stopirrigation#" onclick="jeedom.cmd.execute({id: $(this).data('cmd_id')});" title="Arreter toute l'irrigation">
                  <a class="btn btn-sm btn-default action">
                      <i class="fas fa-stop"></i>
                  </a>
            </span>
        </div>
        <div class="col-md-3 center">
            #raindelay#
        </div>
        <div class="col-md-3 center">
            <div>Tester toutes les zones</div>
            <div>#getdureetestzone# minutes</div>
            <span id="cmd_#zonetest#" class="cmd cmd-widget" data-type="action" data-toggle="tooltip" data-subtype="other" data-cmd_id="#zonetest#" onclick="jeedom.cmd.execute({id: $(this).data('cmd_id')});" title="Lancer l'irrigation pour toutes les zones">
                  <a class="btn btn-sm btn-default action">
                      <i class="fas fa-play"></i>
                  </a>
            </span>
        </div>
    </div>
    <div class="row" style="margin-top: 10px">
        <div class="col-md-3 center zone1" id="#zone1#">
            <div>#nomzone1#</div>
            <div id="getzonelancer1">#getzonelancer1#</div>
            <div id="duree1">#duree1# minutes</div>
            <span id="cmd_#zonestop1#" class="cmd cmd-widget" data-type="action" data-toggle="tooltip" data-subtype="other" data-cmd_id="#zonestop1#" onclick="jeedom.cmd.execute({id: $(this).data('cmd_id')});" title="Stop l'irrigation pour la Zone 1">
                  <a class="btn btn-sm btn-default action">
                      <i class="fas fa-stop"></i>
                  </a>
            </span>
            <span id="cmd_#zonelancer1#" class="cmd cmd-widget" data-type="action" data-toggle="tooltip" data-subtype="other" data-cmd_id="#zonelancer1#" onclick="jeedom.cmd.execute({id: $(this).data('cmd_id')});" title="Lancer l'irrigation pour la Zone 1">
                  <a class="btn btn-sm btn-default action">
                      <i class="fas fa-play"></i>
                  </a>
            </span>
        </div>
        <div class="col-md-3 center zone2" id="#zone2#">
            <div>#nomzone2#</div>
            <div id="getzonelancer2">#getzonelancer2#</div>
            <div id="duree2">#duree2# minutes</div>
            <span id="cmd_#zonestop2#" class="cmd cmd-widget" data-type="action" data-toggle="tooltip" data-subtype="other" data-cmd_id="#zonestop2#" onclick="jeedom.cmd.execute({id: $(this).data('cmd_id')});" title="Stop l'irrigation pour la Zone 2">
                  <a class="btn btn-sm btn-default action">
                      <i class="fas fa-stop"></i>
                  </a>
            </span>
            <span id="cmd_#zonelancer2#" class="cmd cmd-widget" data-type="action" data-toggle="tooltip" data-subtype="other" data-cmd_id="#zonelancer2#" onclick="jeedom.cmd.execute({id: $(this).data('cmd_id')});" title="Lancer l'irrigation pour la Zone 2">
                  <a class="btn btn-sm btn-default action">
                      <i class="fas fa-play"></i>
                  </a>
            </span>
        </div>
        <div class="col-md-3 center zone3" id="#zone3#">
            <div>#nomzone3#</div>
            <div id="getzonelancer3">#getzonelancer3#</div>
            <div id="duree3">#duree3# minutes</div>
            <span id="cmd_#zonestop3#" class="cmd cmd-widget" data-type="action" data-toggle="tooltip" data-subtype="other" data-cmd_id="#zonestop3#" onclick="jeedom.cmd.execute({id: $(this).data('cmd_id')});" title="Stop l'irrigation pour la Zone 3">
                  <a class="btn btn-sm btn-default action">
                      <i class="fas fa-stop"></i>
                  </a>
            </span>
            <span id="cmd_#zonelancer3#" class="cmd cmd-widget" data-type="action" data-toggle="tooltip" data-subtype="other" data-cmd_id="#zonelancer3#" onclick="jeedom.cmd.execute({id: $(this).data('cmd_id')});" title="Lancer l'irrigation pour la Zone 3">
                  <a class="btn btn-sm btn-default action">
                      <i class="fas fa-play"></i>
                  </a>
            </span>
        </div>
        <div class="col-md-3 center zone4" id="#zone4#">
            <div>#nomzone4#</div>
            <div id="getzonelancer4">#getzonelancer4#</div>
            <div id="duree4">#duree4# minutes</div>
            <span id="cmd_#zonestop4#" class="cmd cmd-widget" data-type="action" data-toggle="tooltip" data-subtype="other" data-cmd_id="#zonestop4#" onclick="jeedom.cmd.execute({id: $(this).data('cmd_id')});" title="Stop l'irrigation pour la Zone 4">
                  <a class="btn btn-sm btn-default action">
                      <i class="fas fa-stop"></i>
                  </a>
            </span>
            <span id="cmd_#zonelancer4#" class="cmd cmd-widget" data-type="action" data-toggle="tooltip" data-subtype="other" data-cmd_id="#zonelancer4#" onclick="jeedom.cmd.execute({id: $(this).data('cmd_id')});" title="Lancer l'irrigation pour la Zone 4">
                  <a class="btn btn-sm btn-default action">
                      <i class="fas fa-play"></i>
                  </a>
            </span>
        </div>
    </div>
    <div class="row" style="margin-top: 10px">
        <div class="col-md-3 center zone5" id="#zone5#">
            <div>#nomzone5#</div>
            <div id="getzonelancer5">#getzonelancer5#</div>
            <div id="duree5">#duree5# minutes</div>
            <span id="cmd_#zonestop5#" class="cmd cmd-widget" data-type="action" data-toggle="tooltip" data-subtype="other" data-cmd_id="#zonestop5#" onclick="jeedom.cmd.execute({id: $(this).data('cmd_id')});" title="Stop l'irrigation pour la Zone 5">
                  <a class="btn btn-sm btn-default action">
                      <i class="fas fa-stop"></i>
                  </a>
            </span>
            <span id="cmd_#zonelancer5#" class="cmd cmd-widget" data-type="action" data-toggle="tooltip" data-subtype="other" data-cmd_id="#zonelancer5#" onclick="jeedom.cmd.execute({id: $(this).data('cmd_id')});" title="Lancer l'irrigation pour la Zone 5">
                  <a class="btn btn-sm btn-default action">
                      <i class="fas fa-play"></i>
                  </a>
            </span>
        </div>
        <div class="col-md-3 center zone6" id="#zone6#">
            <div>#nomzone6#</div>
            <div id="getzonelancer6">#getzonelancer6#</div>
            <div id="duree6">#duree6# minutes</div>
            <span id="cmd_#zonestop6#" class="cmd cmd-widget" data-type="action" data-toggle="tooltip" data-subtype="other" data-cmd_id="#zonestop6#" onclick="jeedom.cmd.execute({id: $(this).data('cmd_id')});" title="Stop l'irrigation pour la Zone 6">
                  <a class="btn btn-sm btn-default action">
                      <i class="fas fa-stop"></i>
                  </a>
            </span>
            <span id="cmd_#zonelancer6#" class="cmd cmd-widget" data-type="action" data-toggle="tooltip" data-subtype="other" data-cmd_id="#zonelancer6#" onclick="jeedom.cmd.execute({id: $(this).data('cmd_id')});" title="Lancer l'irrigation pour la Zone 6">
                  <a class="btn btn-sm btn-default action">
                      <i class="fas fa-play"></i>
                  </a>
            </span>
        </div>
        <div class="col-md-3 center zone7" id="#zone7#">
            <div>#nomzone7#</div>
            <div id="getzonelancer7">#getzonelancer7#</div>
            <div id="duree7">#duree7# minutes</div>
            <span id="cmd_#zonestop7#" class="cmd cmd-widget" data-type="action" data-toggle="tooltip" data-subtype="other" data-cmd_id="#zonestop7#" onclick="jeedom.cmd.execute({id: $(this).data('cmd_id')});" title="Stop l'irrigation pour la Zone 7">
                  <a class="btn btn-sm btn-default action">
                      <i class="fas fa-stop"></i>
                  </a>
            </span>
            <span id="cmd_#zonelancer7" class="cmd cmd-widget" data-type="action" data-toggle="tooltip" data-subtype="other" data-cmd_id="#zonelancer7#" onclick="jeedom.cmd.execute({id: $(this).data('cmd_id')});" title="Lancer l'irrigation pour la Zone 7">
                  <a class="btn btn-sm btn-default action">
                      <i class="fas fa-play"></i>
                  </a>
            </span>
        </div>
        <div class="col-md-3 center zone8" id="#zone8#">
            <div>#nomzone8#</div>
            <div id="getzonelancer8">#getzonelancer8#</div>
            <div id="duree8">#duree8# minutes</div>
            <span id="cmd_#zonestop8#" class="cmd cmd-widget" data-type="action" data-toggle="tooltip" data-subtype="other" data-cmd_id="#zonestop8#" onclick="jeedom.cmd.execute({id: $(this).data('cmd_id')});" title="Stop l'irrigation pour la Zone 8">
                  <a class="btn btn-sm btn-default action">
                      <i class="fas fa-stop"></i>
                  </a>
            </span>
            <span id="cmd_#zonelancer8" class="cmd cmd-widget" data-type="action" data-toggle="tooltip" data-subtype="other" data-cmd_id="#zonelancer8#" onclick="jeedom.cmd.execute({id: $(this).data('cmd_id')});" title="Lancer l'irrigation pour la Zone 8">
                  <a class="btn btn-sm btn-default action">
                      <i class="fas fa-play"></i>
                  </a>
            </span>
        </div>
    </div>
    <script>
        for (let i = 1; i <= document.getElementById('nbzone').innerText; i++){
            let getzonelancer = document.getElementById('getzonelancer'+i);
            if (getzonelancer.innerText === '0'){
                getzonelancer.innerHTML = '<i class="fas fa-tint-slash fa-3x"></i>';
            }

            if (getzonelancer.innerText === '1'){
                getzonelancer.innerHTML = '<i class="fas fa-tint fa-3x"></i>';
            }
        }

        for (let i = 1; i <= 16; i++){
            let zoneid = document.getElementById('#zone'+i+'#');
            if (zoneid){
                zoneid.hidden = true;
            }
        }
    </script>
</div>