<div class="eqLogic eqLogic-widget allowResize allowReorderCmd" style="border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;width: #width#;height: #height#;#style#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" >
    <div class="widget-name text-center">
        <span style="font-size: 1.2em;#hideEqLogicName#">
            <a href="#eqLink#">#name_display#
                <span class="object_name">#object_name#</span>
            </a>
        </span>
    </div>
    <div id="nbzone" style="display: none">#nbzone#</div>
    <div class="row">
        <div class="col-md-3 center">
            <div>Date</div>
            <div>#daterainbird#</div>
        </div>
        <div class="col-md-3 center">
            <div>Arreter toute l'irrigation</div>
            <span class="cmd cmd-widget" data-type="action" data-toggle="tooltip" data-subtype="other" data-cmd_id="#stopirrigation#" title="Arreter toute l'irrigation">
                  <a class="btn btn-sm btn-default action">
                      <i class="fas fa-play"></i>
                  </a>
            </span>
        </div>
        <div class="col-md-3 center">
            <div>Retarder l'arrosage de #getraindelay# jours </div>
<!--            <div></div>-->
            <div class="cmd cmd-widget" data-type="action" data-subtype="slider" data-template="button" data-cmd_id="#setraindelay#">
                <div class="content-sm ">
                    <div class="input-group buttons">
                        <span class="input-group-btn" style="position: relative;">
                            <a class="btn btn-default btn-sm bt_minus roundedLeft"><i class="fas fa-minus"></i></a>
                        </span>
                        <input type="text" class="input-sm in_value form-control text-center" value="#getraindelay#" disabled="">
                        <span class="input-group-btn" style="position: relative;">
                            <a class="btn btn-default btn-sm bt_plus roundedRight"><i class="fa fa-plus"></i></a>
                        </span>
                    </div>
                </div>
                <script>
                    $('.cmd[data-cmd_id=#setraindelay#] .bt_plus').on('click', function () {
                        let max = ('14' === '') ?  Number.MAX_VALUE : parseInt('14');
                        let step = (isNaN(parseInt('#step#'))) ?  1 : parseInt('#step#');
                        if (parseFloat($('.cmd[data-cmd_id=#setraindelay#] .in_value').val()) <= max - step ){
                            jeedom.cmd.update['#setraindelay#']({display_value:parseInt($('.cmd[data-cmd_id=#setraindelay#] .in_value').val()) + step});
                            $('.cmd[data-cmd_id=#setraindelay#] .in_value').trigger('change');
                        }
                    });
                    $('.cmd[data-cmd_id=#setraindelay#] .bt_minus').on('click', function () {
                        let min = ('0' === '') ? Number.MIN_VALUE : parseInt('0');
                        let step = (isNaN(parseInt('#step#'))) ?  1 : parseInt('#step#');
                        if (parseFloat($('.cmd[data-cmd_id=#setraindelay#] .in_value').val()) >= min + step){
                            jeedom.cmd.update['#setraindelay#']({display_value:parseInt($('.cmd[data-cmd_id=#setraindelay#] .in_value').val()) - step});
                            $('.cmd[data-cmd_id=#setraindelay#] .in_value').trigger('change');
                        }
                    });
                    $('.cmd[data-cmd_id=#setraindelay#] .in_value').on('change', function () {
                        jeedom.cmd.execute({id:'#setraindelay#', value: {slider: $('.cmd[data-cmd_id=#setraindelay#] .in_value').val().replace("°C", "").replace(" ", "")}});
                    });

                    jeedom.cmd.update['#setraindelay#'] = function(_options){
                        $('.cmd[data-cmd_id=#setraindelay#] .in_value').val(_options.display_value);
                    }

                    jeedom.cmd.update['#setraindelay#']({display_value:'#getraindelay#'});
                </script>
            </div>
        </div>
        <div class="col-md-3 center">
            <div>Tester toutes les zones</div>
            <div>#getdureetestzone# minutes</div>
            <span class="cmd cmd-widget" data-type="action" data-toggle="tooltip" data-subtype="other" data-cmd_id="#zonetest#" title="Lancer l'irrigation pour toutes les zones">
                  <a class="btn btn-sm btn-default action">
                      <i class="fas fa-play"></i>
                  </a>
            </span>
        </div>
    </div>
    <div class="row" style="margin-top: 10px">
        <div class="col-md-3 center zone1" id="#zone1#">
            <div>#nomzone1#</div>
            <div id="getzonelancer1">#getzonelancer1#</div>
            <div id="duree1">#duree1# minutes</div>
            <span class="cmd cmd-widget" data-type="action" data-toggle="tooltip" data-subtype="other" data-cmd_id="#zonelancer1#" title="Lancer l'irrigation pour la Zone 1">
                  <a class="btn btn-sm btn-default action">
                      <i class="fas fa-play"></i>
                  </a>
            </span>
        </div>
        <div class="col-md-3 center zone2" id="#zone2#">
            <div>#nomzone2#</div>
            <div id="getzonelancer2">#getzonelancer2#</div>
            <div id="duree2">#duree2# minutes</div>
            <span class="cmd cmd-widget" data-type="action" data-toggle="tooltip" data-subtype="other" data-cmd_id="#zonelancer2#" title="Lancer l'irrigation pour la Zone 2">
                  <a class="btn btn-sm btn-default action">
                      <i class="fas fa-play"></i>
                  </a>
            </span>
        </div>
        <div class="col-md-3 center zone3" id="#zone3#">
            <div>#nomzone3#</div>
            <div id="getzonelancer3">#getzonelancer3#</div>
            <div id="duree3">#duree3# minutes</div>
            <span class="cmd cmd-widget" data-type="action" data-toggle="tooltip" data-subtype="other" data-cmd_id="#zonelancer3#" title="Lancer l'irrigation pour la Zone 3">
                  <a class="btn btn-sm btn-default action">
                      <i class="fas fa-play"></i>
                  </a>
            </span>
        </div>
        <div class="col-md-3 center zone4" id="#zone4#">
            <div>#nomzone4#</div>
            <div id="getzonelancer4">#getzonelancer4#</div>
            <div id="duree4">#duree4# minutes</div>
            <span class="cmd cmd-widget" data-type="action" data-toggle="tooltip" data-subtype="other" data-cmd_id="#zonelancer4#" title="Lancer l'irrigation pour la Zone 4">
                  <a class="btn btn-sm btn-default action">
                      <i class="fas fa-play"></i>
                  </a>
            </span>
        </div>
    </div>
    <div class="row" style="margin-top: 10px">
        <div class="col-md-3 center zone5" id="#zone5#">
            <div>#nomzone5#</div>
            <div id="getzonelancer5">#getzonelancer5#</div>
            <div id="duree5">#duree5# minutes</div>
            <span class="cmd cmd-widget" data-type="action" data-toggle="tooltip" data-subtype="other" data-cmd_id="#zonelancer5#" title="Lancer l'irrigation pour la Zone 5">
                  <a class="btn btn-sm btn-default action">
                      <i class="fas fa-play"></i>
                  </a>
            </span>
        </div>
        <div class="col-md-3 center zone6" id="#zone6#">
            <div>#nomzone6#</div>
            <div id="getzonelancer6">#getzonelancer6#</div>
            <div id="duree6">#duree6# minutes</div>
            <span class="cmd cmd-widget" data-type="action" data-toggle="tooltip" data-subtype="other" data-cmd_id="#zonelancer6#" title="Lancer l'irrigation pour la Zone 6">
                  <a class="btn btn-sm btn-default action">
                      <i class="fas fa-play"></i>
                  </a>
            </span>
        </div>
        <div class="col-md-3 center zone7" id="#zone7#">
            <div>#nomzone7#</div>
            <div id="getzonelancer7">#getzonelancer7#</div>
            <div id="duree7">#duree7# minutes</div>
            <span class="cmd cmd-widget" data-type="action" data-toggle="tooltip" data-subtype="other" data-cmd_id="#zonelancer7#" title="Lancer l'irrigation pour la Zone 7">
                  <a class="btn btn-sm btn-default action">
                      <i class="fas fa-play"></i>
                  </a>
            </span>
        </div>
        <div class="col-md-3 center zone8" id="#zone8#">
            <div>#nomzone8#</div>
            <div id="getzonelancer8">#getzonelancer8#</div>
            <div id="duree8">#duree8# minutes</div>
            <span class="cmd cmd-widget" data-type="action" data-toggle="tooltip" data-subtype="other" data-cmd_id="#zonelancer8#" title="Lancer l'irrigation pour la Zone 8">
                  <a class="btn btn-sm btn-default action">
                      <i class="fas fa-play"></i>
                  </a>
            </span>
        </div>
    </div>
    <script>
        $(document).ready(
            function () {
                let nbzone = document.getElementById('nbzone').innerText;
                for (let i = 1; i <= 16; i++){
                    if (document.getElementById('#zone'+i+'#')){
                        $('.zone'+i).hide();
                    }
                }

                for (let i = 1; i <= nbzone; i++){
                    let getzonelancer = document.getElementById('getzonelancer'+i).innerText;
                    if (getzonelancer === '0'){
                        document.getElementById('getzonelancer'+i).innerHTML = '<i class="fas fa-tint-slash fa-3x"></i>';
                    }

                    if (getzonelancer === '1'){
                        document.getElementById('getzonelancer'+i).innerHTML = '<i class="fas fa-tint fa-3x"></i>';
                    }
                }
            }
        );

        $('.cmd[data-cmd_id=#zonetest#]').on('click', function () {
            jeedom.cmd.execute({id: '#zonetest#'});
        });

        $('.cmd[data-cmd_id=#stopirrigation#]').on('click', function () {
            jeedom.cmd.execute({id: '#stopirrigation#'});
        });

        $('.cmd[data-cmd_id=#zonelancer1#]').on('click', function () {
            jeedom.cmd.execute({id: '#zonelancer1#'});
        });

        $('.cmd[data-cmd_id=#zonelancer2#]').on('click', function () {
            jeedom.cmd.execute({id: '#zonelancer2#'});
        });

        $('.cmd[data-cmd_id=#zonelancer3#]').on('click', function () {
            jeedom.cmd.execute({id: '#zonelancer3#'});
        });

        $('.cmd[data-cmd_id=#zonelancer4#]').on('click', function () {
            jeedom.cmd.execute({id: '#zonelancer4#'});
        });

        $('.cmd[data-cmd_id=#zonelancer5#]').on('click', function () {
            jeedom.cmd.execute({id: '#zonelancer5#'});
        });

        $('.cmd[data-cmd_id=#zonelancer6#]').on('click', function () {
            jeedom.cmd.execute({id: '#zonelancer6#'});
        });

        $('.cmd[data-cmd_id=#zonelancer7#]').on('click', function () {
            jeedom.cmd.execute({id: '#zonelancer7#'});
        });

        $('.cmd[data-cmd_id=#zonelancer8#]').on('click', function () {
            jeedom.cmd.execute({id: '#zonelancer8#'});
        });
    </script>
</div>