<div class="cmd cmd-widget" data-type="action" data-subtype="slider" data-template="value" data-cmd_id="#id#" data-cmd_uid="#uid#" data-version="#version#" data-eqLogic_id="#eqLogic_id#">
    <div class="title" style="margin-bottom: 5px">
        <div class="cmdName">#name_display#</div>
    </div>
    <label for="sliderInput#id#"></label><input type="number" min="#minValue#" max="#maxValue#" value="#state#" step="1" id="sliderInput#id#" style="text-align: center">
    <div id="widget_slider#id#" class="slider"></div>
    <script>
        var $inputNumber#id# = $('#sliderInput#id#')
        var step#id# = 1
        var spinTimer#id# = null
        if ($.issetWidgetOptParam('#step#', 'step')) {
            step#id# = parseFloat('#step#')
            $inputNumber#id#.attr('step', step#id#)
        }

        $('#sliderInput#id#').spinner({
            icons: { down: "ui-icon-triangle-1-s", up: "ui-icon-triangle-1-n"},
            stop: function(event, ui) {
                if (event.currentTarget.id !== 'sliderInput#id#') {
                    clearTimeout(spinTimer#id#)
                    spinTimer#id# = setTimeout(function() {
                        $inputNumber#id#.trigger('change')
                    }, 1000)
                }
            }
        })

        $inputNumber#id#.on('focusout', function(event) {
            clearTimeout(spinTimer#id#)
            if ($(this).attr('value') === $(this).attr('aria-valuenow')) return false
            jeedom.cmd.execute({id: '#id#', value: {slider: this.value}})
        })

        $inputNumber#id#.on('change', function(event) {
            jeedom.cmd.execute({id: '#id#', value: {slider: this.value}})
        })

        jeedom.cmd.addUpdateFunction('#id#',function(_options) {
            $inputNumber#id#.val(_options.display_value).attr('value', _options.display_value).attr('aria-valuenow', _options.display_value)
        });
    </script>
</div>
