<div class="eqLogic eqLogic-widget #class#"
     data-eqLogic_id="#id#"
     data-eqType="#eqType#"
     data-version="#version#"
     data-eqLogic_uid="#uid#"
     data-translate-category="#translate_category#"
     data-category="#category#"
     data-tags="#tags#" style="height: #height#;#style#">
    <div class="widget-name mobilecenter">
        <span style="font-size: 1.2em;#hideEqLogicName#">
            <a href="#eqLink#">#name_display#
                <span class="object_name">#object_name#</span>
            </a>
        </span>
    </div>
    <div class="mobilecenter">
        <div class="cmdName">Date et Heure</div>
        <span class="state">#daterainbird# #timerainbird#</span>
    </div>
    <div class="mobilecenter">
        <div class="cmdName">Arreter toute l'irrigation</div>
        <span class="cmd cmd-widget" data-type="action" data-subtype="other" data-template="default" data-cmd_id="#stopirrigation#" onclick="jeedom.cmd.execute({id: $(this).data('cmd_id')});" title="Arreter toute l'irrigation">
            <a class="action ui-btn ui-mini ui-btn-inline ui-btn-raised">
                <i class="fas fa-stop"></i>
            </a>
        </span>
    </div>
    <div class="mobilecenter">
        #raindelay#
    </div>
    <div class="mobilecenter">
        <div class="cmdName">Tester toutes les zones #getdureetestzone# minutes</div>
        <span class="cmd cmd-widget" data-type="action" data-subtype="other" data-template="default" data-cmd_id="#zonetest#" onclick="jeedom.cmd.execute({id: $(this).data('cmd_id')});" title="Lancer l'irrigation pour toutes les zones">
            <a class="action ui-btn ui-mini ui-btn-inline ui-btn-raised">
                <i class="fas fa-play"></i>
            </a>
        </span>
    </div>
    #zone#
    #divGraphInfo#
    <script>
    </script>
    <style>
        .mobilecenter
        {
            text-align: center;
        }
    </style>
</div>